<!DOCTYPE html>
<html>
  <head>
    <title>Teachers page</title>
  </head>
  <body>
    <h1>Teachers Table</h1>
    <br>

    <table style="width:100%" border="1">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
      </tr>
     <% if(error) { %>
      <tr><td colspan="3" style="text-align:center"><%= error %></td></tr>
    <% } else { for(var i=0; i < rows.length; i++) { %>
        <tr>
          <td><%= rows[i].id %></td>
          <td><%= rows[i].teacher_name %></td>
          <td><%= rows[i].teacher_phone %></td>
        </tr>
     <% } %>

     <% } %> 
    </table>
    


  </body>
</html>
